html, body {
  background-color: #172330;
  color: #DB964F;
}

img {
  box-shadow:
    0 0 25px 25px #DB964F;
}

@keyframes example {
  0% {
  transform:
    translateX(-100px);
    opacity: 0;
  }
  100% {
  transform:
    translateX(0px);
    opacity: 1;
  }
}

a {
  color: #DB964F;
}

a:hover {
  text-shadow: 0 0 10px #DB964F;
  color: #DB964F;
}
