html, body {
  background-color: #C9C9B3;
  color: #383430;
}

img {
  box-shadow:
    0 0 25px 25px #383430;
}

@keyframes example {
  0% {
  transform:
    translateX(-100px);
    opacity: 0;
  }
  100% {
  transform:
    translateX(0px);
    opacity: 1;
  }
}

a {
  color: #383430;
}

a:hover {
  text-shadow: 0 0 10px #383430;
  color: #383430;
}
