html, body {
  background-color: #B8B2C1;
  color: #383F5D;
}

img {
  box-shadow:
    0 0 25px 25px #383F5D;
}

@keyframes example {
  0% {
  transform:
    translateX(-100px);
    opacity: 0;
  }
  100% {
  transform:
    translateX(0px);
    opacity: 1;
  }
}

a {
  color: #383F5D;
}

a:hover {
  text-shadow: 0 0 10px #383F5D;
  color: #383F5D;
}
