html, body {
  background-color: #c1d8de;
  color: #2d4d5e;
}

img {
  box-shadow:
    0 0 25px 25px #2d4d5e;
}

@keyframes example {
  0% {
  transform:
    translateX(-100px);
    opacity: 0;
  }
  100% {
  transform:
    translateX(0px);
    opacity: 1;
  }
}

a {
  color: #2d4d5e;
}

a:hover {
  text-shadow: 0 0 10px #2d4d5e;
  color: #2d4d5e;
}
